In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.float_format = '{:.6f}'.format

#멧플로립에서 음수를 표시
plt.rc('axes',unicode_minus=False)
import matplotlib.pyplot as plt

# plt.rc('font', family='NanumBarunGothic')

#워닝 메시지
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('/content/drive/MyDrive/ubion_finance/Datasets/경기소비재지수_Total (1).csv')
df

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,상장시가총액
0,2009/12/30,1226.750000,15.030000,1.240000,0.000000,0.000000,0.000000,19857.000000,487849.000000,100859720.000000
1,2009/12/29,1211.720000,-2.280000,-0.190000,0.000000,0.000000,0.000000,14284.000000,344548.000000,99730995.000000
2,2009/12/28,1214.000000,-9.450000,-0.770000,0.000000,0.000000,0.000000,29228.000000,712699.000000,100048915.000000
3,2009/12/24,1223.450000,28.350000,2.370000,0.000000,0.000000,0.000000,31707.000000,658245.000000,101121850.000000
4,2009/12/23,1195.100000,16.310000,1.380000,0.000000,0.000000,0.000000,19659.000000,450905.000000,98740391.000000
...,...,...,...,...,...,...,...,...,...,...
3786,2022/01/07,1778.990000,11.140000,0.630000,1769.150000,1788.430000,1768.590000,8448.000000,657256.000000,169172340.000000
3787,2022/01/06,1767.850000,11.150000,0.630000,1746.920000,1787.120000,1743.400000,11413.000000,942057.000000,168113420.000000
3788,2022/01/05,1756.700000,15.080000,0.870000,1749.870000,1779.170000,1747.510000,13597.000000,1005796.000000,167339329.000000
3789,2022/01/04,1741.620000,1.590000,0.090000,1741.640000,1750.260000,1731.310000,8134.000000,470900.000000,165777327.000000
3790,2022/01/03,1740.030000,8.080000,0.470000,1742.540000,1747.290000,1727.570000,5761.000000,361141.000000,165564933.000000

In [ ]:
typical_price = (df['고가'] + df['저가'] + df['종가']) / 3
typical_price

In [ ]:
money_flow = typical_price * df['거래량']
money_flow

In [ ]:
positive_flow = []
negative_flow = []
for i in range(1, len(typical_price)):
if typical_price[i] > typical_price[i-1]:
  positive_flow