In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [18]:
df_1 = pd.read_csv("/content/drive/MyDrive/ubion_finance/Datasets/경기소비재/0809년.csv", encoding='euc-kr')
df_2 = pd.read_csv("/content/drive/MyDrive/ubion_finance/Datasets/경기소비재/1011년.csv", encoding='euc-kr')
df_3 = pd.read_csv("/content/drive/MyDrive/ubion_finance/Datasets/경기소비재/1213년.csv", encoding='euc-kr')
df_4 = pd.read_csv("/content/drive/MyDrive/ubion_finance/Datasets/경기소비재/1415년.csv", encoding='euc-kr')
df_5 = pd.read_csv("/content/drive/MyDrive/ubion_finance/Datasets/경기소비재/1617년.csv", encoding='euc-kr')
df_6 = pd.read_csv("/content/drive/MyDrive/ubion_finance/Datasets/경기소비재/1819년.csv", encoding='euc-kr')
df_7 = pd.read_csv("/content/drive/MyDrive/ubion_finance/Datasets/경기소비재/2021년.csv", encoding='euc-kr')
df_8 = pd.read_csv("/content/drive/MyDrive/ubion_finance/Datasets/경기소비재/2223년.csv", encoding='euc-kr')

In [19]:
df = pd.concat([df_1, df_2], axis=0)
df1 = pd.concat([df, df_3], axis=0)
df2 = pd.concat([df1, df_4], axis=0)
df3 = pd.concat([df2, df_5], axis=0)
df4 = pd.concat([df3, df_6], axis=0)
df5 = pd.concat([df4, df_7], axis=0)
df6 = pd.concat([df5, df_8], axis=0)

df6.sort_values(by='일자')

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,상장시가총액
500,2008/01/02,1000.00,0.00,0.00,0.00,0.00,0.00,11548.0,434189.0,83891524.0
499,2008/01/03,1009.27,9.27,0.93,0.00,0.00,0.00,9688.0,327829.0,84600459.0
498,2008/01/04,1007.09,-2.18,-0.22,0.00,0.00,0.00,9837.0,299139.0,84380567.0
497,2008/01/07,991.26,-15.83,-1.57,0.00,0.00,0.00,9570.0,346957.0,83244361.0
496,2008/01/08,994.28,3.02,0.30,0.00,0.00,0.00,11085.0,291301.0,83448962.0
...,...,...,...,...,...,...,...,...,...,...
4,2023/04/24,1537.65,13.48,0.88,1529.43,1541.61,1525.12,9579.0,476835.0,152588060.0
3,2023/04/25,1561.09,23.44,1.52,1543.36,1564.03,1523.00,12330.0,961498.0,155279742.0
2,2023/04/26,1535.13,-25.96,-1.66,1573.12,1581.29,1533.26,13484.0,1172435.0,153223292.0
1,2023/04/27,1534.02,-1.11,-0.07,1532.74,1552.66,1525.67,9418.0,590337.0,153169788.0
0,2023/04/28,1519.95,-14.07,-0.92,1534.74,1536.67,1514.68,9236.0,601987.0,151592163.0

In [20]:
df6.to_csv("경기소비재지수_Total.csv", index=False)

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/ubion_finance/Datasets/경기소비재지수.csv")

In [ ]:
df = df.rename(columns={'일자': 'Date'})

In [ ]:
df = df.sort_values(by='Date')

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])
df['YM'] = df['Date'].dt.to_period('M')
df = df.groupby('YM').first().reset_index()
df.set_index('Date', inplace=True)
df.drop(columns='YM', inplace=True)

In [ ]:
df

,종가,대비,등락률,시가,고가,저가,거래량,거래대금,상장시가총액
Date,,,,,,,,,
2008-01-02,1000.00,0.00,0.00,0.00,0.00,0.00,11548.0,434189.0,83891524.0
2008-02-01,897.97,-0.63,-0.07,0.00,0.00,0.00,13564.0,494306.0,74997231.0
2008-03-03,873.82,-16.14,-1.81,0.00,0.00,0.00,9948.0,310890.0,71320863.0
2008-04-01,965.78,-2.67,-0.28,0.00,0.00,0.00,13964.0,421556.0,78473783.0
2008-05-02,1056.74,10.19,0.97,0.00,0.00,0.00,16690.0,553473.0,86240694.0
...,...,...,...,...,...,...,...,...,...
2022-12-01,1435.74,8.82,0.62,1442.74,1445.29,1429.89,8411.0,417568.0,142279845.0
2023-01-02,1343.91,16.64,1.25,1341.96,1358.22,1337.12,10487.0,531995.0,132570534.0
2023-02-01,1439.49,21.97,1.55,1425.44,1445.25,1424.52,9732.0,508947.0,142637031.0
2023-03-02,1488.62,27.45,1.88,1467.94,1497.90,1467.94,14870.0,711035.0,147286459.0
2023-04-03,1487.66,-6.84,-0.46,1495.50,1501.60,1484.23,9171.0,418325.0,147539452.0

In [ ]:
df.isna().sum()

종가        0
대비        0
등락률       0
시가        0
고가        0
저가        0
거래량       0
거래대금      0
상장시가총액    0
dtype: int64

In [ ]:
# 'Date' 열의 형식을 YYYY-MM으로 변경합니다.
df.index = df.index.to_period('M')
df

,종가,대비,등락률,시가,고가,저가,거래량,거래대금,상장시가총액
Date,,,,,,,,,
2008-01,1000.00,0.00,0.00,0.00,0.00,0.00,11548.0,434189.0,83891524.0
2008-02,897.97,-0.63,-0.07,0.00,0.00,0.00,13564.0,494306.0,74997231.0
2008-03,873.82,-16.14,-1.81,0.00,0.00,0.00,9948.0,310890.0,71320863.0
2008-04,965.78,-2.67,-0.28,0.00,0.00,0.00,13964.0,421556.0,78473783.0
2008-05,1056.74,10.19,0.97,0.00,0.00,0.00,16690.0,553473.0,86240694.0
...,...,...,...,...,...,...,...,...,...
2022-12,1435.74,8.82,0.62,1442.74,1445.29,1429.89,8411.0,417568.0,142279845.0
2023-01,1343.91,16.64,1.25,1341.96,1358.22,1337.12,10487.0,531995.0,132570534.0
2023-02,1439.49,21.97,1.55,1425.44,1445.25,1424.52,9732.0,508947.0,142637031.0
2023-03,1488.62,27.45,1.88,1467.94,1497.90,1467.94,14870.0,711035.0,147286459.0
2023-04,1487.66,-6.84,-0.46,1495.50,1501.60,1484.23,9171.0,418325.0,147539452.0

In [ ]:
df = df[['거래량', '종가']]

In [ ]:
df.to_csv("경기소비재.csv")

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/ubion_finance/Datasets/T10Y2Y.csv")

In [ ]:
df.isna().sum()

종가        0
대비        0
등락률       0
시가        0
고가        0
저가        0
거래량       0
거래대금      0
상장시가총액    0
dtype: int64

In [ ]:
df = df.rename(columns={'DATE': 'Date'})

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])
df['YM'] = df['Date'].dt.to_period('M')
df = df.groupby('YM').first().reset_index()
df.set_index('Date', inplace=True)
df.drop(columns='YM', inplace=True)
df

           T10Y2Y
Date
2008-01-02   1.03
2008-02-01   1.53
2008-03-03   1.93
2008-04-01   1.77
2008-05-01   1.41
...           ...
2023-02-01   -0.7
2023-03-01  -0.88
2023-04-03  -0.54
2023-05-01  -0.55
2023-06-01  -0.72

[186 rows x 1 columns]

In [ ]:
# 'Date' 열의 형식을 YYYY-MM으로 변경합니다.
df.index = df.index.to_period('M')
df

        T10Y2Y
Date
2008-01   1.03
2008-02   1.53
2008-03   1.93
2008-04   1.77
2008-05   1.41
...        ...
2023-02   -0.7
2023-03  -0.88
2023-04  -0.54
2023-05  -0.55
2023-06  -0.72

[186 rows x 1 columns]

In [ ]:
df.to_csv("미국장단기금리차.csv", index=False)

In [ ]:
df.head(10)

        T10Y2Y
Date
2008-01   1.03
2008-02   1.53
2008-03   1.93
2008-04   1.77
2008-05   1.41
2008-06   1.47
2008-07   1.38
2008-08   1.46
2008-09      .
2008-10   1.95

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/ubion_finance/Datasets/경기소비재지수 (1).csv")
df

,종가,대비,등락률,시가,고가,저가,거래량,거래대금,상장시가총액
0,1000.00,0.00,0.00,0.00,0.00,0.00,11548.0,434189.0,83891524.0
1,897.97,-0.63,-0.07,0.00,0.00,0.00,13564.0,494306.0,74997231.0
2,873.82,-16.14,-1.81,0.00,0.00,0.00,9948.0,310890.0,71320863.0
3,965.78,-2.67,-0.28,0.00,0.00,0.00,13964.0,421556.0,78473783.0
4,1056.74,10.19,0.97,0.00,0.00,0.00,16690.0,553473.0,86240694.0
...,...,...,...,...,...,...,...,...,...
179,1435.74,8.82,0.62,1442.74,1445.29,1429.89,8411.0,417568.0,142279845.0
180,1343.91,16.64,1.25,1341.96,1358.22,1337.12,10487.0,531995.0,132570534.0
181,1439.49,21.97,1.55,1425.44,1445.25,1424.52,9732.0,508947.0,142637031.0
182,1488.62,27.45,1.88,1467.94,1497.90,1467.94,14870.0,711035.0,147286459.0
183,1487.66,-6.84,-0.46,1495.50,1501.60,1484.23,9171.0,418325.0,147539452.0

In [ ]:
df[['종가','거래량']]

          종가      거래량
0    1000.00  11548.0
1     897.97  13564.0
2     873.82   9948.0
3     965.78  13964.0
4    1056.74  16690.0
..       ...      ...
179  1435.74   8411.0
180  1343.91  10487.0
181  1439.49   9732.0
182  1488.62  14870.0
183  1487.66   9171.0

[184 rows x 2 columns]